.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--mode-dark-bg);
    height: 100%;
    padding:  0 25px;
}

.header-left{
    width: 169px;
}

.header-center{
    flex-grow: 1;
    max-width: 600px;
}

.header-right{
    width: 225px;
}