.baseLayout{
    display: grid;
    height: 100vh;
    grid-template-rows: 56px;
    grid-template-columns: 72px;
    grid-template-areas:
    "header header header"
    "aside main main"
    "aside main main"
    "aside main main";
}

.baseLayout-header{
    position: fixed;
    left: 0;
    right: 0;
    height: 56px;
    grid-area: header;
    z-index: 99999;
}

.baseLayout-aside{
    position: fixed;
    top: 56px;
    width: 72px;
    bottom: 0;
    grid-area: aside;
}

.baseLayout-main{
    grid-area: main;
}