.baseLayout{
    display: grid;
    grid-template-rows: 56px;
    grid-template-columns: 64px;
    grid-template-areas:
    "header header header"
    "aside main main"
    "aside main main"
    "aside main main";
}

.baseLayout-header{
    position: fixed;
    width: 100%;
    height: 56px;
    top: 0;
    grid-area: header;
    z-index: 1;
}

.baseLayout-aside{
    position: fixed;
    width: 64px;
    top: 56px;
    bottom: 0;
    grid-area: aside;
    z-index: 1;
}

.baseLayout-main{
    grid-area: main;
}