.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 19px;
    background-color: var(--default-bg-color);
}

.header-start{
    width: 170px;
}

.header-center{
    flex: 0 1 700px;
}

.header-end{
    flex: 0 0 225px;
    display: flex;
    justify-content: flex-end;
}

