.logout{
    color: var(--mode-dark-text);
    position: relative;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.logout-line{
    box-shadow: inset 0 0 0 3px var(--feature);
}

.logout-line::after{
    position: absolute;
    content: "features/logout";
    font-size: var(--text-sm);
    color: var(--mode-dark-text);
    background-color: var(--feature);
    top: 0;
    left: -75px;
}