.home{
    height: 100%;
    background-color: var(--mode-dark-bg);
    padding: 10px;
}

.home-sort{
    display: flex;
    gap: 10px;
    align-items: center; 
}

.home-list{
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 10px 0 10px;
}

.home-list__item{
    flex: 1 0 250px;
    margin-bottom: 15px;
}