.login{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--mode-dark-bg);
}

.login-line{
    position: relative;
    box-shadow: inset 0 0 0 3px var(--pages);
}

.login-line::after{
    position: absolute;
    content: "pages/login";
    font-size: var(--text-sm);
    color: var(--mode-dark-text);
    background-color: var(--pages);
    top: 0;
    left: 0;
}



.login-title{
    color: var(--mode-dark-text);
    font-size: var(--text-title);
}