.login{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--mode-dark-bg);
}

.login-title{
    color: var(--mode-dark-text);
    font-size: var(--text-title);
}