.headerLayout{
    display: grid;
    height: 100vh;
    grid-template-rows: 56px;
    grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "main main main";
}


.headerLayout-header{
    position: fixed;
    left: 0;
    right: 0;
    height: 56px;
    grid-area: header;
    z-index: 9999;
}

.headerLayout-main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}