.aside {
  height: 100%;
  background-color: var(--bg-dark);
  color: var(--text-col-white);
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aside_item{
  cursor: pointer;
  text-align: center;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 5px;
  color: var(--text-col-white);
}

.aside_item--active{
  background-color: var(--bg-light-dark);
}

.aside_item:hover{
    background-color: var(--bg-light-dark);
}



