.headerMore{
    display: flex;
    cursor: pointer;
    position: relative;
}

.headerMore-line{
    box-shadow: inset 0 0 0 3px var(--feature);
}

.headerMore-line::after{
    position: absolute;
    content: "features/headerMore";
    font-size: var(--text-sm);
    color: var(--mode-dark-text);
    background-color: var(--feature);
    top: 0;
    left: -100px;
}

.headerMore__img{
    filter: var(--mode-dark-invert);
}

.headerMore__modal{
    position: absolute;
    color: var(--mode-dark-text);
    right: 0px;
    top: 57px;
    background-color: #282828;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

