.iconbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
}

.iconbtn:hover{
    background-color: var(--mode-dark-effect);
}

.iconbtn-img{
    filter: var(--mode-dark-invert);
}
.iconbtn-text{
    color: var(--mode-dark-text);
    font-size: var(--text-sm);
}