.filter-button{
    padding: 10px 12px;
    background-color: rgba(255,255,255,0.1);
    color: var(--default-text-color);
    border: none;
    border-radius: 10px;
    font-size: var(--text-sx);
    cursor: pointer;
}

.filter-button--active{
    background-color: #F1F1F1;
    color: black;
    font-weight: bold;
}