.aside{
    height: 100%;
    background-color: var(--mode-dark-bg);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.aside-line{
    box-shadow: inset 0 0 0 3px var(--widget);
}

.aside-line::after{
    position: absolute;
    content: "widget/aside";
    font-size: var(--text-sm);
    color: var(--mode-dark-text);
    background-color: var(--widget);
    top: 0;
    left: 0;
}