:root{
    --mode-dark-text: #ffffff;
    --mode-dark-bg: #000000;
    --mode-dark-effect: #303030;
    --mode-dark-invert: invert(70%);

    --text-sm: 12px;
    --text-md: 16px;
    --text-lg: 20px;
    --text-title: 24px;
}